[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
jupyter = "*"
xlrd = "*"
openpyxl = "*"
pyexcel-ods = "*"
coloredlogs = "*"
"pypdf2" = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
